.section-about {
  background-color: $main-primary-heading;
  padding: 9rem 0;

  @include respond(tab-port) {
    padding-bottom: 0;
  }
}

.section-what {
  padding: 6rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(196, 57, 57, 0.685),
      transparent
    ),
    url(./../img/section-we-do.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;

  &__back-ground{
    text-align: center;
    padding: 5rem 2rem;
    background-color: $main-primary-heading;
  }
}

