// COLOR
$main-primary-heading: #fff;
$brown-light-color: rgba(194, 51, 51, 0.932);
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal : 6rem;